.card-amanda{
    background-color: rgb(245, 200, 208);
    width: 250px;
    
    border-radius: 16px;
    text-align: center;
}   

.card-amanda h2{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: xx-large;
    font-weight: 500;
}

.card-amanda img{
    width: 80px;
    height: 100px; 
     margin-top: 20px;  
     border-radius: 10px;
     
}

.card-amanda a{
    color: rgb(255, 255, 255);
}
.card-amanda p{
    color: rgb(255, 255, 255);
    margin: 20px;
}